body {
	margin: 0;
	padding: 0;
	background-color:  lightGray;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

.heading {
	background-color: #EEE;
	border: 2px solid #AAA;
	font-size: 20px;
	font-style: italic;
	font-family: Verdana;
	text-align: center;
	float: left;
	width: 1196px;
	clear: both;
	padding: 20px 0;
	margin: 20px 0 10px;
	border-radius: 5px;
}

.menutop {
	background-color: #EEE;
	border: 2px solid #AAA;
	font-size: 15px;
	font-style: italic;
	font-family: Verdana;
	text-align: center;
	float: left;
	width: 1196px;
	clear: both;
	padding: 0;
	margin: 0 0 10px;
	border-radius: 5px;
}

.menutop ul{
	margin: 0;
	list-style: none;
	padding: 0;
	float: left;
	text-align: left;
}

.menutop ul li{
	float: left;
}

.menutop ul li a{
	color: #900;
	padding: 5px 10px;
	float: left;
	text-decoration: none;
}

.menutop ul li a:hover{
	background-color: #DDD;
}

.menuAndContent {
  	float: left;
	width: 100%;
	clear: both;
}

.menu {
	background-color: #EEE;
	border: 2px solid #AAA;
	font-size: 15px;
	font-style: italic;
	font-family: Verdana;
	float: left;
	width: 196px;
	clear: both;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

.menu .category{
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	clear: both;
	text-align: center;
	background-color: #DDD;
	border-radius: 3px 3px 0 0;
}

.menu ul{
	float: left;
	margin: 10px 0 10px 10px;
	padding: 0;
	clear: both;
	list-style: none;
}

.menu ul li a{
	color: #900;
	padding: 5px 5px 5px 0;
	text-decoration: none;
}

.menu ul li a:hover{
	color: #955;
	text-decoration: underline;
}

.content {
	background-color: #EEE;
	border: 2px solid #AAA;
	font-size: 15px;
	font-style: italic;
	font-family: Verdana;
	float: right;
	width: 966px;
	padding: 10px;
	margin: 0;
	border-radius: 5px;
	text-align: justify;
}

.content p.title{
	background-color: #CCC;
	border: 2px solid #AAA;
	font-size: 15px;
	font-style: italic;
	font-family: Verdana;
	float: left;
	width: 942px;
	padding: 10px;
	margin: 0;
	border-radius: 5px;
	text-align: center;
	clear: both;
}

.content .box{
	background-color: #DDD;
	border: 2px solid #AAA;
	font-size: 15px;
	font-style: italic;
	font-family: Verdana;
	float: left;
	width: 942px;
	padding: 10px;
	margin: 10px 0 0;
	border-radius: 5px;
	text-align: center;
	clear: both;
}

.content thead{
	background-color: #BBB;
}

.content thead th{
	font-size: 15px;
	padding: 5px 10px;
	text-align: center;
}

.content tbody td a{
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}

.content tbody td a:hover{
	text-decoration: underline;
}

.page{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	display: block;
}

.clearfix{
	float: left;
	width: 100%;
	clear: both;
}

.panda{
	margin: 10px 0;
	text-align: center;
}

.add .lefttable, .sell .lefttable{
	float: left;
	width: 200px;
	clear: both;
	text-align: right;
}

.add input[type="text"], .sell select{
	float: left;
	text-align: left;
}

.add .message, .sell .message{
	text-align: left;
}

.menutop ul{
	width: 100%;
}

.menutop ul li.menuadmin{
	float: right;
}


/*************** ADMIN ***************/
/*************************************/

.admin-menutop{
	float: left;
	width: 962px;
	background-color: #CCC;
	border: 2px solid #999;
	margin-bottom: 20px;
}

.admin-menutop ul{
	float: left;
	margin: 0;
	padding: 0 10px;
	list-style: none;
}

.admin-menutop ul li{
	float: left;
}

.admin-menutop ul li a{
	float: left;
	padding: 3px 10px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.admin-menutop ul li a:hover{
	background-color: #DDD;
}